/* Error Messages Supplied By https://isabelcastillo.com/error-info-messages-css*/

 @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.isa_info,
.isa_success,
.isa_warning,
.isa_error {
	padding: 10px 0px;
	max-width: 400px;
	margin: 15px auto;
	width: 90%;
}


.isa_info i,
.isa_success i,
.isa_warning i,
.isa_error i {
  margin: 10px 22px;
  font-size: 2em;
  vertical-align: middle;
}


.isa_info {
	color: #00529B;
	background-color: #BDE5F8;
}

.isa_success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.isa_warning {
	color: #9F6000;
	background-color: #FEEFB3;
}

.isa_error {
	color: #D8000C;
	background-color: #FFD2D2;
}


input[type=text], 
input[type=password],
input[type=date],
select  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}


.login-form, 
form {
  text-align: center;
  max-width: 400px;
  margin: auto;
}


label {
  float: left;
}