body {
	font-family: 'Open Sans', sans-serif;
}


.header,
.wrapper {
	text-align: center;
}


.header {
	background: #e3e3e3;
	padding-bottom: 1em;
	border-bottom: 6px solid #efcd2d;
}


.rhslogo {
	display: inline-block;
	vertical-align: top;
	width: auto;
}

.navbar {
	overflow: hidden;
}

.navbar a {
	display: inline-block;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15pt;
}

.small-screen {
	display: none;
}

@media screen and (max-width: 600px) {
	.navbar a {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
	}

	.normal {
		display: none;
	}

	.small-screen {
		display: block;
	}

}