* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav ul li {
	display: inline-block;
	margin: auto;
	list-style: none;
	position: relative;
}

nav ul li:hover ul {
	display: block;

}

nav ul li a {
	display: block;
	color: #222;
	font-size: 20px;
	padding: 0px 15px;
	text-decoration: none;
}

nav ul li ul {
	display: none;
	position: absolute;
	background: #e3e3e3;
}

nav ul li ul li {
	padding-top: 10px;
	width: 200px;
}

nav ul li ul li a {
	float: left;
}


.header,
.wrapper {
	text-align: center;
}


.header {
	background: #e3e3e3;
	padding-bottom: 2em;
	border-bottom: 6px solid #efcd2d;
}

div .navbar {
	display: inline-block;
	width: auto;
}

.rhslogo {
	display: inline-block;
	vertical-align: top;
	width: auto;
}

.small-screen {
	display: none;
}

@media screen and (max-width: 600px) {
	.nav a {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
	}

	.normal {
		display: none;
	}

	.small-screen {
		display: block;
	}

}